<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <h2>회원가입</h2>
    <form action="/login/signup2", method="post">
        <label>ID</label>
        <input type="text" name="_id" placeholder="아이디"><br>
        <label>password</label>
        <input type="password" name="_pass" placeholder="비밀번호"><br>
        <label>name</label>
        <input type="text" name="_name" placeholder="이름"><br>
        <label>birth</label>
        <input type="text" name="_birth" placeholder="생년월일"><br>
        <label>phone</label>
        <input type="text" name="_phone" placeholder="전화번호">
        <input type="submit" value="회원가입">
    </form>
</body>
</html>