<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>WELCOME</h3>
    <h2>This is 2nd page.</h2>
    <!-- a태그를 이용하여 하이퍼링크 생성
    href 속성에 주소를 넣어준다.  -->
    <a href="/">move to index page</a>
</body>
</html>